# Python
__pycache__/
*.pyc
.venv/
.env
# Notebooks
.ipynb_checkpoints/
# Artifacts & data
artifacts/
data/processed/
notebooks/Presentation
data/raw/
# OS
.DS_Store
# Environments
*.egg-info/
dist/
build/
# IDE
.vscode/
.idea/
# Virtualenv
venv/
*.venv

.quarto/
notebooks/out/
configs/*.local
*.keras
# Model files (too large for GitHub)
*.h5
*.keras